@use 'lib' as *;

.modal {
	$self: &;

	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	padding: 50px;
	background: #5981B399;
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: all var(--trans);

	&.active {
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}

	&__container {
		overflow-y: auto;
		display: flex;
		justify-content: center;
		height: fit-content;
		max-height: 100%;
		width: 100%;
	}

}