@use 'lib' as *;

.promo {
	$self: &;

	position: relative;

	&__container {
		padding-top: fluid(146px, 128px);
		padding-bottom: 160px;
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;
		min-height: 100svh;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		color: var(--white);

		@include media("<=xs") {
			padding-bottom: 0;
			min-height: 90svh;
		}

		@media (max-width: 400px) {
			width: min(1478px, calc(100% - 16px * 2));
		}
	}

	&__title {
		font-size: fluid(85px, 45px);
		line-height: 110%;
		margin-bottom: 20px;
	}

	&__text {
		max-width: 415px;
		font-size: fluid(24px, 18px);
		font-weight: 400;
		margin-bottom: 48px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		b {
			font-weight: 700;
		}
	}

	&__button {
		margin-top: auto;

		@include media("<=xs") {
			transform: translateY(50%);
		}
	}

	&__bg.swiper {
		position: absolute;
		inset: 0;
		z-index: 0;

		.swiper-wrapper {
			height: 100%;
			width: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background:
				linear-gradient(0deg, rgba(29, 64, 119, 0) 52.04%, #1D4077 100%),
				linear-gradient(180deg, rgba(230, 247, 250, 0) 73.57%, #E6F7FA 100%);
			pointer-events: none;
		}

		.swiper-slide {
			height: 100%;
			width: 100%;
			transition: opacity 1s ease-in-out !important;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				scale: 1.05;
			}
		}
	}

}