@use 'lib' as *;

.about {
	$self: &;

	position: relative;
	padding-top: fluid(182px, 120px);
	padding-bottom: 45px;

	&__container {
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;
		z-index: 1;
		position: relative;

		@media (max-width: 399px) {
			width: min(1478px, calc(100% - 16px * 2));
		}
	}

	&__breadcumbs {
		margin-bottom: fluid(64px, 32px);
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 36px;

		@include media("<=sm") {
			grid-template-columns: 100%;
			gap: 0;
		}
	}

	&__title {
		font-weight: 500;
		text-transform: uppercase;
		font-size: fluid(55px, 30px);
		max-width: 568px;
		margin-bottom: 48px;

		@include media("<=sm") {
			margin-bottom: 35px;
			max-width: 217px;
		}
	}

	&__image {
		overflow: hidden;
		border-radius: 20px;
		height: fluid(403px, 168px);
		margin-bottom: 45px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&_first {
			@include media("<=sm") {
				margin-bottom: 30px;
				grid-row: 7;
			}
		}

		&_second {
			@include media("<=sm") {
				grid-row: 3;
				margin-bottom: 28px;
			}
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		margin-bottom: 84px;

		@include media("<=xlg") {
			grid-template-columns: 100%;
		}

		@include media("<=sm") {
			grid-row: 4;
			gap: 10px;
			margin-bottom: 10px;
		}
	}

	&__card {
		border-radius: 20px;
		border: 2px solid #98D8E5;
		padding: 20px 40px;
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__card-title {
		font-weight: 500;
		font-size: fluid(45px, 30px);
	}

	&__card-text {
		font-size: fluid(21px, 15px);
	}

	&__paragraph {

		font-size: fluid(21px, 15px);

		&_first {
			@include media("<=sm") {
				grid-row: 6;
				margin-bottom: 40px;
			}
		}

		&_second {
			margin-bottom: 48px;

			@include media("<=sm") {
				margin-bottom: 38px;
			}
		}

		&_third {
			font-size: fluid(24px, 15px);
			padding-top: 55px;
			position: relative;

			&::before {
				content: url('../img/icons/zont.svg');
				position: absolute;
				top: 0;
				left: -20px;
				width: 50px;
				height: auto;
				object-fit: contain;
			}

			@include media("<=sm") {
				padding-top: 0;

				&::before {
					content: none;
				}
			}
		}
	}

	&__info-card {
		padding: 22px fluid(32px, 26px);
		background: #98D8E599;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 18px;
		border-radius: 20px;
		height: fit-content;
		position: relative;

		@include media("<=sm") {
			grid-row: 5;
			margin-bottom: 40px;
		}
	}

	&__info-card-icon {
		width: 34px;
		object-fit: contain;
	}

	&__info-card-content {}

	&__info-card-title {
		font-weight: 500;
		font-size: fluid(45px, 24px);
		margin-bottom: 6px;
		display: block;
	}

	&__info-card-text {
		font-size: fluid(21px, 15px);

		@include media("<=sm") {
			max-width: 143px;
		}
	}

	&__bg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: fluid(100%, 65%);
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, rgba(230, 247, 250, 0) 86.52%, #E6F7FA 100%);

		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__fish-1 {
		position: absolute;
		left: 37%;
		top: fluid(10%, 5%);
		width: fluid(210px, 115px);

		@include media("<=sm") {
			left: 50%;
		}
	}

	&__fish-2 {
		position: absolute;
		top: 0;
		right: fluid(5%, 0%);
		width: fluid(166px, 90px);

		@include media("<=sm") {
			top: 40%;
		}
	}

}