<footer data-parallax class="footer"> 
    <div class="footer__container">
        <img loading="lazy" src="./img/logo-horizontal-dark.svg" alt="" class="footer__logo">
        <div class="footer__content">
            <img loading="lazy" data-parallax-item="-20, 0.01" src="./img/decor/fish-1.webp" alt="" class="footer__decor">
            <div id="map" class="footer__map"></div>
            <div class="footer__columns">
                <div class="footer__column">
                    <h4 class="footer__column-title">Режим работы</h4>
                    <p class="footer__column-text">Пн-Вс: 10:00 – 21:00</p>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">Адрес</h4>
                    <a href="#" class="footer__column-text">г. Оренбург, Шарлыкское шоссе, 1/2</a>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">По вопросам приобретения билетов</h4>
                    <a href="#" class="footer__column-text">+7 (900) 123 45 67</a>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">Для заказа экскурсий</h4>
                    <a href="#" class="footer__column-text">+7 (900) 123 45 67</a>
                </div>
            </div>
            <div class="footer__bottom">
                <a href="#" class="footer__link">Реквизиты организации</a>
                <a href="#" class="footer__link">Пользовательское соглашение</a>
                <a href="#" class="footer__link">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
    <div class="footer__bg">
        <img loading="lazy" src="./img/footer-bg.webp" alt="">
    </div>
</footer> 

@@include("_sprite.svg")
<script src="js/common.js?v=0"></script> 
</body> 
</html>