@use 'lib' as *;

.reviews {
	$self: &;

	padding-bottom: fluid(90px, 60px);
	padding-top: fluid(125px, 75px);
	position: relative;

	&__body {
		overflow: hidden;
		width: 100%;
		z-index: 1;
		position: relative;
	}

	&__container {
		width: min(1184px, calc(100% - 50px * 2));
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__top {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: fluid(60px, 30px);
		padding: 0px 100px;

		@include media("<=xs") {
			padding: 0;
			gap: 36px;
		}
	}

	&__title {
		font-size: fluid(55px, 30px);
		text-align: center;
		font-weight: 500;
	}

	&__nav {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: row;
		gap: 10px;

		@include media("<=xs") {
			position: static;
			transform: none;
		}
	}

	&__nav-btn {

		transition: all var(--trans);
		width: 44px;
		height: 44px;

		&:disabled {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&_prev {}

		&_next {}
	}

	&__swiper.swiper {
		overflow: visible;
		width: 100%;
		max-width: 100%;
	}

	&__fish {
		width: fluid(500px, 200px);
		object-fit: contain;
		position: absolute;
		left: 0%;
		top: -5%;
		z-index: 0;

		@include media("<=lg") {
			top: -7%;
		}
	}

}