@use 'lib' as *;

.gallery {
	$self: &;

	padding-top: fluid(120px, 60px);
	padding-bottom: 70px;
	position: relative;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;

		@media (max-width: 399px) {
			width: min(1478px, calc(100% - 16px * 2));
		}
	}

	&__title {
		text-align: center;
		font-size: fluid(55px, 30px);
		font-weight: 500;
		margin-bottom: fluid(60px, 35px);
	}

	&__photos {
		width: 100%;

		.swiper-wrapper {
			@include media(">sm") {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 16px;

				@include media("<=md") {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}

	&__photo.swiper-slide {
		background: #D9D9D9;
		height: 290px;
		border-radius: 20px;
		overflow: hidden;

		&:nth-child(2) {
			grid-row: span 2;
			height: auto;

			@include media("<=md") {
				grid-row: auto;
				height: 176px;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			inset: 0;
			scale: 1.05;
		}

		@include media("<=md") {
			height: 176px;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;

		@include media(">sm") {
			display: none;
		}
	}

	&__navigation-btn {
		width: 25px;
		height: 25px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__fish {
		position: absolute;
		bottom: 0; left: 2%;
		width: fluid(230px, 110px);
		z-index: 10;
		pointer-events: none;

		@include media("<=xs") {
			left: 55%;
			bottom: 15%;
		}
	}

}