@use 'lib' as *;

.reviews-card {
	$self: &;

	padding: 28px fluid(35px, 20px) 30px;
	background: var(--white);
	border-radius: 10px;

	&.swiper-slide {
		height: auto;
	}

	&__top {
		display: flex;
		flex-direction: row;
		gap: 20px;
		margin-bottom: fluid(32px, 25px);
	}

	&__photo {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		overflow: hidden;
		background: #AEDFE6;
		flex: 0 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__user {}

	&__name {
		font-weight: 700;
		font-size: 21px;
	}

	&__stars {
		display: flex;
		flex-direction: row;
		gap: 4px;
		svg {
			width: 15px; height: 15px;
		}
	}

	&__content {}

}