@use 'lib' as *;

.shop {
	$self: &;

	padding-top: fluid(70px, 50px);
	padding-bottom: fluid(80px, 60px);
	position: relative;

	&__container {
		display: grid;
		grid-template-columns: minmax(auto, 600px) minmax(400px, 1fr);
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;
		gap: fluid(90px, 36px);

		@media (max-width: 399px) {
			width: min(1478px, calc(100% - 16px * 2));
		}

		@include media("<=md") {
			grid-template-columns: 100%;
		}
	}

	&__content {
		
	}

	&__title {
		font-weight: 500;
		text-transform: uppercase;
		font-size: fluid(55px, 30px);
		max-width: 468px;
		margin-bottom: 30px;
	}

	&__text {
		font-size: fluid(21px, 15px);
		margin-bottom: 40px;
	}

	&__time {
		width: fit-content;
		border: 2px solid #98D8E5;
		border-radius: 20px;
		background: var(--white);
		padding: 30px 36px;
		margin-bottom: 26px;
	}

	&__time-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		margin-bottom: fluid(32px, 20px);
		font-size: fluid(21px, 15px);

		&::before {
			content: '';
			display: block;
			width: 20px; height: 20px;
			background: url("../img/icons/clock.svg") center / cover no-repeat;
		}
	}

	&__time-value {
		color: #1D4077;
		font-weight: 700;
		font-size: fluid(36px, 24px);
		line-height: 100%;
	}

	&__desc {
		font-size: fluid(30px, 21px);
		font-weight: 500;
	}

	&__fish {
		position: absolute;
		bottom: 0; left: 32%;
		width: fluid(270px, 120px);
		z-index: 2;

		@include media("<=md") {
			bottom: 36%;
			left: auto;
			right: 5%;
		}
	}

	&__image {
		overflow: hidden;
		border-radius: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}
