@use 'lib' as *;

.footer {
	$self: &;

	position: relative;
	padding-top: fluid(60px, 45px);
	padding-bottom: 40px;
	overflow: hidden;

	&__container {
		position: relative;
		z-index: 1;
		width: min(1202px, calc(100% - 50px * 2));
		margin: 0 auto;

		@media (max-width: 400px) {
			width: min(1202px, calc(100% - 16px * 2));
		}
	}

	&__logo {
		width: fluid(367px, 220px);
		margin-bottom: fluid(55px, 45px);
	}

	&__content {
		position: relative;
	}

	&__map {
		width: 100%;
		height: fluid(415px, 300px);
		margin-bottom: 15px;
		border-radius: 10px;
		overflow: hidden;
		z-index: 1;

		@include media("<=xs") {
			margin-bottom: 45px;
			width: calc(100% + 50px * 2);
			margin-left: -50px;
			border-radius: 0;
		}

		@media (max-width: 400px) {
			width: calc(100% + 16px * 2);
			margin-left: -16px;
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
		margin-bottom: 60px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__column {
		background: #D1F4F9CC;
		border-radius: 10px;
		padding: 20px 25px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		gap: 40px;
	}

	&__column-title {
		font-size: 21px;
		font-weight: 700;
	}

	&__column-text {
		font-size: 21px;
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		color: var(--white);
		gap: 16px;
		flex-wrap: wrap;
	}

	&__link {}

	&__bg {
		position: absolute;
		left: 0; bottom: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background:
				linear-gradient(0deg, rgba(230, 247, 250, 0) 58.14%, #E6F7FA 96.77%),
				linear-gradient(180deg, rgba(29, 64, 119, 0) 91.19%, #1D4077 100%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media("<=xs") {
			height: 70%;
		}
	}

	&__decor {
		position: absolute;
		top: calc(fluid(80px, 35px) * -1); right: fluid(5%, 0%);
		width: fluid(300px, 125px);
		z-index: 2;
	}

}