@use 'lib' as *;

.services {
	$self: &;

	position: relative;
	padding-bottom: fluid(90px, 60px);

	&__container {
		position: relative;
		z-index: 1;
		width: min(1184px, calc(100% - 50px * 2));
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		text-align: center;
		margin-bottom: 50px;
		font-size: fluid(60px, 30px);
		font-weight: 500;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 36px;
		width: 100%;

		@include media("<=lg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
			gap: 30px;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: linear-gradient(360deg, rgba(230, 247, 250, 0) 73.19%, #E6F7FA 100%),
				linear-gradient(180deg, rgba(230, 247, 250, 0) 0%, #E6F7FA 84.24%);
			pointer-events: none;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

}