@use 'lib' as *;

.error {
	$self: &;

	position: relative;
	color: var(--white);
	text-align: center;
	overflow: hidden;

	@include media("<=xs") {
		text-align: start;
	}

	&__container {
		position: relative;
		z-index: 1;
		min-height: 100svh;
		width: min(1184px, calc(100% - 50px * 2));
		margin: 0 auto;
		padding-top: fluid(350px, 150px);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 100px;

		@include media("<=xs") {
			align-items: start;
		}

		@media (max-width: 399px) {
			width: min(1184px, calc(100% - 16px * 2));
		}
	}

	&__subtitle {
		font-size: fluid(30px, 16px);
		margin-bottom: 20px;

		@include media("<=xs") {
			margin-bottom: 42px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: fluid(55px, 36px);
		margin-bottom: fluid(36px, 10px);
	}

	&__desc {
		font-size: fluid(21px, 18px);
		margin-bottom: 100px;

		@include media("<=xs") {
			margin-bottom: 150px;
		}
	}

	&__link.rose-button {
		font-size: fluid(24px, 16px);
		padding: fluid(20px, 16px) 0;
		width: 100%;
		max-width: 480px;

		img {
			width: 40px;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(0deg, rgba(29, 64, 119, 0) 52.04%, #1D4077 100%),
				linear-gradient(180deg, rgba(29, 64, 119, 0) 65.77%, #1D4077 96.8%),
				linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
			pointer-events: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}