@use 'lib' as *;

.excursions-service {
	$self: &;

	background: #F8F9FB;
	padding: fluid(48px, 36px) 0;

	&__container {
		width: min(1485px, calc(100% - 24px * 2));
		margin: 0 auto;
		display: grid;
		grid-template-columns: 630px 1fr;
		gap: 40px 32px;

		@include media("<=lg") {
			grid-template-columns: 100%;
		}
	}

	&__time {
		font-size: fluid(42px, 21px);
		text-transform: uppercase;
		color: #5981B3;
		font-weight: 700;
		display: flex;
		flex-direction: column;

		b {
			font-weight: 700;
			font-size: fluid(70px, 30px);
			color: #1D4077;
		}
	}

	&__image {
		overflow: hidden;
		border-radius: 20px;
		object-fit: cover;
		height: fluid(367px, 175px);
		width: 100%;
	}

	&__table {
		grid-row: auto / span 3;
		background: #FFFFFF;
		border-radius: 20px;
		overflow: hidden;
		height: fit-content;

		@include media("<=lg") {
			grid-row: auto / span 1;
			height: auto;
		}
	}

	&__table-head {
		font-size: fluid(36px, 21px);
		font-weight: 700;
		text-align: center;
		padding: 36px 0;
		background: #98D8E5;
	}

	&__rows {
		display: flex;
		flex-direction: column;
		padding: 24px fluid(44px, 24px) 8px fluid(44px, 24px);
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 24px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #98D8E5;
		}
	}

	&__row-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: fluid(20px, 12px);
		font-size: fluid(24px, 15px);
		font-weight: 700;

		&::before {
			content: '';
			display: block;
			width: fluid(50px, 40px);
			height: fluid(50px, 40px);
			background: url("../img/ex-i-icon.svg") no-repeat center / cover;
		}
	}

	&__row-content {
		font-size: fluid(42px, 30px);
		font-weight: 700;
		color: #22C7B9;
	}

	&__callback {
		grid-column: auto / span 2;
		background: #FFFFFF;
		border-radius: 20px;
		padding: fluid(32px, 24px) fluid(44px, 30px);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include media("<=lg") {
			grid-column: auto / span 1;
			flex-direction: column;
			gap: 24px;
		}
	}

	&__info {

	}

	&__info-top {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		margin-bottom: 28px;
	}

	&__info-icon {
		width: fluid(72px, 40px);
		height: fluid(72px, 40px);
		object-fit: cover;
	}

	&__info-title {
		font-size: fluid(30px, 21px);
		font-weight: 700;
		max-width: 430px;
	}

	&__info-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 780px;
	}

	&__info-list-item {
		font-size: fluid(21px, 15px);
		display: flex;
		flex-direction: row;
		gap: 14px;

		b {
			@include flex-center;
			font-size: 24px;
			font-weight: 700;
			width: 30px;
			height: 30px;
			background: #AEDFE6;
			border-radius: 5px;
		}
	}

	&__side {
		border-left: 1px solid #AEDFE6;
		padding-left: 64px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include media("<=lg") {
			padding-left: 0;
			padding-top: 30px;
			border-left: none;
			border-top: 1px solid #AEDFE6;
		}
	}

	&__button.rose-button {
		max-width: 470px;
		width: 100%;

		@include media("<=xs") {
			img {
				display: none;
			}
		}
	}

	&__side-text {
		text-align: center;
		max-width: 412px;
		font-weight: 300;
		font-size: fluid(18px, 15px);
	}

}
