@use 'lib' as *;

.our {
	$self: &;

	padding-top: fluid(182px, 120px);

	&__container {
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}

	&__breadcumbs {
		margin-bottom: fluid(64px, 30px);
	}

	&__title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: fluid(55px, 30px);
		margin-bottom: fluid(65px, 30px);
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		margin-bottom: 48px;

		@include media(">xs") {
			display: none;
		}
	}

	&__navigation-btn {

		width: 25px;
		height: 25px;
		border-radius: 50%;
		overflow: hidden;

		&_prev {}

		&_next {}
	}

	&__navigation-text {}

	&__swiper {
		.swiper-wrapper {
			@include media(">xs") {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 60px 40px;

				@include media("<=lg") {
					grid-template-columns: repeat(3, 1fr);
				}

				@include media("<=md") {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		.swiper-slide {
			display: block;
		}
	}

	&__card {

		&_width {
			#{$self}__card-image {
				aspect-ratio: 719 / 340;

				@include media("<=xs") {
					aspect-ratio: 1 / 1;
				}
			}

			grid-column: auto / span 2;
		}
	}

	&__card-image {
		aspect-ratio: 1 / 1;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: fluid(30px, 20px);
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card-title {
		font-weight: 500;
		font-size: fluid(24px, 18px);
	}

	&__bg {
		position: absolute;
		top: 100px;
		width: 100%; height: auto;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%; height: 100%;
			background: linear-gradient(180deg, rgba(230, 247, 250, 0) 86.52%, #E6F7FA 100%);
		}

		img {
			width: 100%; 
			object-fit: contain;
		}

		@include media("<=xs") {
			display: none;
		}
	}

	&__fish {
		position: absolute;
		top: -50px;
		right: fluid(169px, -20px);
		width: 100%;
		z-index: 1;
		width: fluid(274px, 120px);
		object-fit: contain;

		@include media("<=xs") {
			top: 80px;
		}
	}

}