@use 'lib' as *;

.services-card {
	$self: &;

	display: flex;
	flex-direction: column;
	align-items: center;

	&__icon {
		@include flex-center;
		width: 54px; height: 54px;
		background: #AEDFE6;
		border-radius: 50%;
		margin-bottom: -27px;
		position: relative;
		z-index: 2;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	&__main {
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		min-height: fluid(418px, 339px);
		width: 100%;
		padding: 46px 36px;
	}

	&__title {
		position: relative;
		z-index: 1;
		color: var(--white);
		text-align: center;
		font-weight: 700;
		font-size: fluid(30px, 24px);
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 fluid(25px, 15px);
		margin-top: -58px;
		z-index: 2;

		@include media("<=xs") {
			margin-top: -30px;
		}
	}

	&__content {
		background: var(--white);
		padding: 28px 25px 42px;
		border: 1px solid #1D4077;
		border-radius: 20px;
		text-align: center;
		font-size: fluid(16px, 15px);
	}

	&__btn.rose-button {
		padding: 14px;
		max-width: fluid(269px, 200px);
		width: 100%;
		font-size: 16px;
		margin-top: -20px;

		img {
			width: 40px;
		}
	}

}
