@use 'lib' as *;

.sections-container {
	$self: &;

	&_main {
		position: relative;
	}

	&_info {
		position: relative;

		#{$self}__bg {
			height: 80%;
			img:first-child {
				height: 100%;
			}
			&::after {
				background: linear-gradient(0deg, rgba(230, 247, 250, 0) 83.07%, #E6F7FA 100%),
					linear-gradient(180deg, rgba(230, 247, 250, 0) 84.4%, #E6F7FA 100%);

			}
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: linear-gradient(0deg, rgba(230, 247, 250, 0) 80%, #E6F7FA 100%);
			z-index: 1;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: linear-gradient(0deg, rgba(230, 247, 250, 0) 80%, #E6F7FA 100%);
			transform: rotate(180deg);
			z-index: 1;
		}

		img {
			position: absolute;
			object-fit: cover;

			&:first-child {
				top: 0;
				left: 0;
				width: 100%;
				height: 50%;
				object-position: bottom center;
			}

			&:last-child {
				bottom: 0;
				right: 0;
				width: 100%;
				height: 50%;
				object-position: top center;
			}
		}
	}

	&__content {
		position: relative;
		z-index: 1;
	}

}