@use 'lib' as *;

.header {
	$self: &;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	color: var(--white);

	&_mini {
		#{$self}__logo {
			@include media(">lg") {
				width: 144px;
			}
		}

		#{$self}__menu {
			@include media(">lg") {
				display: none;
			}
		}

		#{$self}__container {

			@include media(">lg") {
				align-items: start;
				padding-top: 40px;

				&::after {
					display: none;
				}
			}
		}
	}

	&_blue {
		#{$self}__logo {
			@include media("<=lg") {
				img {
					&:first-child {
						display: none;
					}

					&:nth-child(2) {
						display: block;
						height: 40px;
					}
				}
			}
		}

		#{$self}__btn {
			@include media("<=lg") {
				display: none;
			}
		}

		#{$self}__container {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 100%;
				width: calc(100% + 44px * 2);
				border-radius: 50px;
				background: #1B3F77;
				z-index: -1;

				@include media("<=lg") {
					width: calc(100% + 16px * 2);
				}
			}

			@include media("<=lg") {
				padding: 10px 0px;
			}
		}

		@include media("<=lg") {
			top: 5px;
		}
	}

	&__container {
		position: relative;
		width: min(1478px, calc(100% - 50px * 2));
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 47px;
		padding: 15px 0px;

		@media (max-width: 399px) {
			width: min(1478px, calc(100% - 16px * 2));
		}
	}

	&__menu {
		flex: 1 1 auto;
		max-width: 490px;

		@include media("<=lg") {
			position: fixed;
			inset: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #1B3F77, $alpha: 0.9);
			backdrop-filter: blur(10px);
			max-width: none;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: -1;
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			transition: all var(--trans);

			&.active {
				opacity: 1;
				pointer-events: all;
				visibility: visible;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		justify-content: space-between;

		@include media("<=lg") {
			flex-direction: column;
			justify-content: center;
			width: min(fit-content, calc(100% - 50px * 2));
		}
	}

	&__list-item {
		transition: all var(--trans);

		&:hover {
			opacity: 0.7;
		}
	}

	&__logo {
		width: fluid(84px, 70px);
		min-width: 70px;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;

			&:not(:first-child) {
				display: none;
			}
		}
	}

	&__side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 50px;

		@include media("<=lg") {
			gap: 20px;
		}
	}

	&__tel {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		font-size: 16px;
		font-weight: 700;
		text-wrap: nowrap;

		svg {
			width: 14px;
			height: 14px;
			fill: var(--white);
		}

		@include media("<=lg") {
			display: none;
		}

		transition: all var(--trans);

		&:hover {
			opacity: 0.7;
		}
	}

	&__location {
		display: flex;
		flex-direction: column;

		b {
			padding-left: 18px;
			font-weight: 400;
			font-size: 14px;
		}

		@include media("<=lg") {
			display: none;
		}

		transition: all var(--trans);

		&:hover {
			opacity: 0.7;
		}
	}

	&__location-top {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 4px;

		svg {
			width: 12px;
			height: 18px;
			fill: var(--white);
		}
	}

	&__btn {
		@include flex-center;

		border: 1px solid var(--light);
		color: var(--light);
		padding: 12px 20px;
		border-radius: 20px;
		font-size: 14px;
		transition: all var(--trans);

		&:hover {
			background: var(--light);
			color: var(--white);
		}
	}

	&__burger {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		width: 24px;
		height: 15px;
		position: relative;
		overflow: visible;

		&.active {
			span {
				background: transparent;

				&::before {
					transform: rotate(45deg) translateX(50%) translateY(-14px);
					top: 50%;
					right: 50%;
					width: 100%;
				}

				&::after {
					transform: rotate(-45deg) translateX(50%) translateY(14px);
					right: 50%;
					bottom: 50%;
					width: 100%;
				}
			}
		}

		span {
			display: block;
			height: 2.65px;
			width: 80%;
			background: var(--white);
			border-radius: 2px;
			transition: all var(--trans);

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2.65px;
				background: var(--white);
				border-radius: 2px;
				position: absolute;
				top: 0;
				right: 0;
				transition: all var(--trans);
			}

			&::after {
				content: '';
				display: block;
				width: 55%;
				height: 2.65px;
				background: var(--white);
				border-radius: 2px;
				position: absolute;
				bottom: 0;
				right: 0;
				transition: all var(--trans);
			}
		}

		@include media(">lg") {
			display: none;
		}
	}

}